[package]
name = "msr"
description = "Industrial automation library"
version = "0.2.0"
authors = ["Markus Kohlhase <markus.kohlhase@slowtec.de>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["automation", "control", "plc", "msr"]
homepage = "https://github.com/slowtec/msr"
repository = "https://github.com/slowtec/msr"
edition = "2018"

[dependencies]
serde = { version = "1.0", features = ["derive"], optional = true }

[features]
default = ["serde"]

[badges]
travis-ci = { repository = "slowtec/msr" }

[dev-dependencies]
serde_json = "1.0"
